.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------------------------------------------------------------------------------- ALL --------------------------------------------------------------------------------- */

/* Start Login page */
.wrap {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}
.content-login-page {
  background-color: #0c6146;
  width: 800px;
  border-radius: 10px;
}
.content-login-page .putih {
  background-color: #fff;
  margin-left: 30%;
  padding: 100px 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.content-login-page .putih .header {
  text-align: center;
  margin-bottom: 30px;
}
.content-login-page .putih .header h1 {
  font-size: 28px;
  font-weight: bold;
}
.content-login-page .putih .input-wrap {
  margin: 0 20px 50px 20px;
}
.content-login-page .putih .input-wrap input {
  border-radius: 30px;
  border: #0c6146 1px solid;
}
.content-login-page .putih .btn-wrap {
  justify-content: center;
  display: flex;
}
.content-login-page .putih .btn-wrap .btn {
  background-color: #0c6146;
  border-radius: 30px;
  font-weight: bold;
  border: #0c6146 1px solid;
  width: 200px;
}
.content-login-page .putih .btn-wrap .btn:hover {
  background-color: #fff;
  color: #0c6146;
  border: #0c6146 1px solid;
}
/* End Login page */

/* Navbar Start */
.navbar {
  background-color: #0c6146;
}
.navbar .nav-link,
.profile-icon,
.navbar-brand {
  color: #fff;
}
.navbar .nav-link:hover {
  font-weight: bold;
  color: #fff;
}
.navbar .profile-icon:hover {
  color: #000;
}
.navbar .navbar-toggler {
  background-color: #fff;
}
.navbar .navbar-toggler i {
  color: #0c6146;
}
.navbar .navbar-toggler:focus {
  box-shadow: 2px 2px black;
}
/* End Navbar */

/* --------------------------------------------------------------------------------- TEKNISI --------------------------------------------------------------------------------- */

/* Start Edit Profile Page */
.wrap {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}
.content-update-page {
  background-color: #0c6146;
  width: 800px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.content-update-page .cancel-side {
  background-color: #0c6146;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.content-update-page .cancel-side img:hover {
  padding-bottom: 20px;
}
.content-update-page .putih {
  background-color: #fff;
  padding: 30px 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.content-update-page .putih .header {
  text-align: center;
  margin-bottom: 30px;
}
.content-update-page .putih .header h1 {
  font-size: 28px;
  font-weight: bold;
}
.content-update-page .putih .input-wrap {
  margin: 0 20px 20px 20px;
}
.content-update-page .putih .input-wrap input {
  border-radius: 30px;
  border: #0c6146 1px solid;
}
.content-update-page .putih .input-wrap input:focus {
  box-shadow: 0 0 0 0.2rem rgba(12, 97, 70, 0.25);
}
.content-update-page .putih .btn-wrap {
  justify-content: center;
  display: flex;
}
.content-update-page .putih .btn-wrap .btn {
  background-color: #0c6146;
  border-radius: 30px;
  font-weight: bold;
  border: #0c6146 1px solid;
  width: 200px;
}
.content-update-page .putih .btn-wrap .btn:hover {
  background-color: #fff;
  color: #0c6146;
  border: #0c6146 1px solid;
}
/* End Edit Profile Page */

/* Start Profile Page */
.profile-page {
  text-align: center;
}
.profile-page .prof-icon {
  margin-top: 120px;
}
.profile-page .icon {
  color: #0c6146;
}
.profile-page .bio .name {
  justify-content: center;
  margin-top: 20px;
  display: flex;
}
.profile-page .bio .name h1 {
  font-size: 50px;
}
.profile-page .bio .other {
  margin-top: 20px;
}
.profile-page .bio .other p {
  font-size: 20px;
  margin-bottom: 0px;
}
.profile-page .btn-wrap {
  margin-top: 60px;
}
.profile-page .btn-wrap .btn {
  background-color: #0c6146;
  border-radius: 30px;
  font-weight: bold;
  border: #0c6146 1px solid;
  width: 200px;
}
.profile-page .btn-wrap .btn:hover {
  background-color: #fff;
  color: #0c6146;
  border: #0c6146 1px solid;
}
/* End Profile Page */

/* --------------------------------------------------------------------------------- ADMIN --------------------------------------------------------------------------------- */
/* Start Edit User Page */
.wrap {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}
.content-edit-user-page {
  background-color: #0c6146;
  width: 800px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.content-edit-user-page .cancel-side {
  background-color: #0c6146;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.content-edit-user-page .cancel-side img:hover {
  padding-bottom: 20px;
}
.content-edit-user-page .putih {
  background-color: #fff;
  padding: 30px 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.content-edit-user-page .putih .header {
  text-align: center;
  margin-bottom: 30px;
}
.content-edit-user-page .putih .header h1 {
  font-size: 28px;
  font-weight: bold;
}
.content-edit-user-page .putih .input-wrap {
  margin: 0 20px 20px 20px;
}
.content-edit-user-page .putih .input-wrap input {
  border-radius: 30px;
  border: #0c6146 1px solid;
}
.content-edit-user-page .putih .input-wrap input:focus {
  box-shadow: 0 0 0 0.2rem rgba(12, 97, 70, 0.25);
}
.content-edit-user-page .putih .btn-wrap {
  justify-content: center;
  display: flex;
}
.content-edit-user-page .putih .btn-wrap .btn {
  background-color: #0c6146;
  border-radius: 30px;
  font-weight: bold;
  border: #0c6146 1px solid;
  width: 200px;
}
.content-edit-user-page .putih .btn-wrap .btn:hover {
  background-color: #fff;
  color: #0c6146;
  border: #0c6146 1px solid;
}
/* End Edit User Page */

/* Start Create User Page */
.wrap {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}
.content-create-user-page {
  background-color: #0c6146;
  width: 800px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.content-create-user-page .cancel-side {
  background-color: #0c6146;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.content-create-user-page .cancel-side img:hover {
  padding-bottom: 20px;
}
.content-create-user-page .putih {
  background-color: #fff;
  padding: 30px 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.content-create-user-page .putih .header {
  text-align: center;
  margin-bottom: 30px;
}
.content-create-user-page .putih .header h1 {
  font-size: 28px;
  font-weight: bold;
}
.content-create-user-page .putih .input-wrap {
  margin: 0 20px 20px 20px;
}
.content-create-user-page .putih .input-wrap .input-group .input-group-text {
  border: #0c6146 1px solid;
  background-color: #0c6146;
  color: #fff;
}
.content-create-user-page .putih .input-wrap .input-group #role-dropdown {
  border: #0c6146 1px solid;
}
.content-create-user-page .putih .input-wrap .input-group #role-dropdown:focus {
  box-shadow: 0 0 0 0.2rem rgba(12, 97, 70, 0.25);
}
.content-create-user-page .putih .input-wrap input {
  border-radius: 30px;
  border: #0c6146 1px solid;
}
.content-create-user-page .putih .input-wrap input:focus {
  box-shadow: 0 0 0 0.2rem rgba(12, 97, 70, 0.25);
}
.content-create-user-page .putih .btn-wrap {
  justify-content: center;
  display: flex;
}
.content-create-user-page .putih .btn-wrap .btn {
  background-color: #0c6146;
  border-radius: 30px;
  font-weight: bold;
  border: #0c6146 1px solid;
  width: 200px;
}
.content-create-user-page .putih .btn-wrap .btn:hover {
  background-color: #fff;
  color: #0c6146;
  border: #0c6146 1px solid;
}
/* End Create User Page */

/* Start Create Project Page */
.wrap {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}
.content-create-project-page {
  background-color: #0c6146;
  width: 800px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.content-create-project-page .cancel-side {
  background-color: #0c6146;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.content-create-project-page .cancel-side img:hover {
  padding-bottom: 20px;
}
.content-create-project-page .putih {
  background-color: #fff;
  padding: 30px 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.content-create-project-page .putih .header {
  text-align: center;
  margin-bottom: 30px;
}
.content-create-project-page .putih .header h1 {
  font-size: 28px;
  font-weight: bold;
}
.content-create-project-page .putih .input-wrap {
  margin: 0 20px 20px 20px;
}
.content-create-project-page .putih .input-wrap .input-group .input-group-text {
  border: #0c6146 1px solid;
  background-color: #0c6146;
  color: #fff;
}
.content-create-project-page .putih .input-wrap .input-group #role-dropdown {
  border: #0c6146 1px solid;
}
.content-create-project-page .putih .input-wrap .input-group #role-dropdown:focus {
  box-shadow: 0 0 0 0.2rem rgba(12, 97, 70, 0.25);
}
.content-create-project-page .putih .input-wrap input {
  border-radius: 30px;
  border: #0c6146 1px solid;
}
.content-create-project-page .putih .input-wrap input:focus {
  box-shadow: 0 0 0 0.2rem rgba(12, 97, 70, 0.25);
}
.content-create-project-page .putih .btn-wrap {
  justify-content: center;
  display: flex;
}
.content-create-project-page .putih .btn-wrap .btn {
  background-color: #0c6146;
  border-radius: 30px;
  font-weight: bold;
  border: #0c6146 1px solid;
  width: 200px;
}
.content-create-project-page .putih .btn-wrap .btn:hover {
  background-color: #fff;
  color: #0c6146;
  border: #0c6146 1px solid;
}
/* End Create Project Page */

/* Start Edit Project Page */
.wrap {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}
.content-edit-project-page {
  background-color: #0c6146;
  width: 800px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.content-edit-project-page .cancel-side {
  background-color: #0c6146;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.content-edit-project-page .cancel-side img:hover {
  padding-bottom: 20px;
}
.content-edit-project-page .putih {
  background-color: #fff;
  padding: 30px 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.content-edit-project-page .putih .header {
  text-align: center;
  margin-bottom: 30px;
}
.content-edit-project-page .putih .header h1 {
  font-size: 28px;
  font-weight: bold;
}
.content-edit-project-page .putih .input-wrap {
  margin: 0 20px 20px 20px;
}
.content-edit-project-page .putih .input-wrap .input-group .input-group-text {
  border: #0c6146 1px solid;
  background-color: #0c6146;
  color: #fff;
}
.content-edit-project-page .putih .input-wrap .input-group #role-dropdown {
  border: #0c6146 1px solid;
}
.content-edit-project-page .putih .input-wrap .input-group #role-dropdown:focus {
  box-shadow: 0 0 0 0.2rem rgba(12, 97, 70, 0.25);
}
.content-edit-project-page .putih .input-wrap input {
  border-radius: 30px;
  border: #0c6146 1px solid;
}
.content-edit-project-page .putih .input-wrap input:focus {
  box-shadow: 0 0 0 0.2rem rgba(12, 97, 70, 0.25);
}
.content-edit-project-page .putih .btn-wrap {
  justify-content: center;
  display: flex;
}
.content-edit-project-page .putih .btn-wrap .btn {
  background-color: #0c6146;
  border-radius: 30px;
  font-weight: bold;
  border: #0c6146 1px solid;
  width: 200px;
}
.content-edit-project-page .putih .btn-wrap .btn:hover {
  background-color: #fff;
  color: #0c6146;
  border: #0c6146 1px solid;
}
/* End Edit Project Page */

/* Start User Page */
.container .content-user-page {
  margin-top: 100px;
}
.container .content-user-page a button.btn {
  background-color: #0c6146;
  border: #0c6146 1px solid;
}
.container .content-user-page a button.btn:hover {
  background-color: #fff;
  color: #0c6146;
  border: #0c6146 1px solid;
}
.container .content-user-page .table {
  margin-top: 10px;
}
/* End User Page */

/* Start Bid Page */
.container .content-bid-page {
  margin-top: 100px;
}
.container .content-bid-page a button.btn {
  background-color: #f5bc42;
  border: #f5bc42 1px solid;
}
.container .content-bid-page a button.btn:hover {
  background-color: #fff;
  color: #f5bc42;
  border: #f5bc42 1px solid;
}
.container .content-bid-page .table {
  margin-top: 10px;
}
/* End Bid Page */
